.imagenBackground {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(https://www.villalaangostura.com.ar/css/plantilla/fondo_body_madera.jpg);
}
.colorVerdecito {
    background-color: #6E9038; /*rgb:  R:110, G:144, B:56 */
}
body {
    background: url(https://www.villalaangostura.com.ar/css/plantilla/fondo_body_madera.jpg) repeat;
    margin: 0px;
    padding: 0px;
    font: 11px Tahoma;
    /*color: #929292;*/
}

.labelAdvertisement {
    padding: 0% 0% 0% 27%;
    color: saddlebrown;
    font-weight: 700;
    font-size: 1.5em;
}


.standout {
    color: red;
}
.emphasized {
  font-style: italic;
}
.important {
  font-size: 1.5em;
  font-weight: 900;
}
.centerAlign {
  text-align: center;
}
.justifiedAlign {
  text-align: justify;
}
.textIndent {
  text-ind: 1.5em;
}
.enclosed {
  border: 4px solid pink;
  padding: .5em;
}
img.inset {
display: block;
margin-left: 1em;
}
a:hover {
  color: grey;
}
li {
margin: .75em;
}
th, td {
border: 1px solid black;
padding: 5px;
width: 20%;
}
table {
border-collapse: collapse;
}


.lg-flex {
  display: flex !important;
}
.lg-inline-flex {
  display: inline-flex !important;
}
.lg-flex-vertical-flex-start {
  align-items: flex-start;
}
.lg-flex-vertical-center {
  align-items: center;
}
.lg-flex-vertical-flex-end {
  align-items: flex-end;
}
.lg-flex-vertical-baseline {
  align-items: baseline;
}
.lg-flex-vertical-stretch {
  align-items: stretch;
}
.lg-flex-horizontal-flex-start {
  justify-content: flex-start;
}
.lg-flex-horizontal-center {
  justify-content: center;
}
.lg-flex-horizontal-flex-end {
  justify-content: flex-end;
}
.lg-flex-horizontal-space-between {
  justify-content: space-between;
}
.lg-flex-horizontal-space-around {
  justify-content: space-around;
}
.lg-flex-horizontal-space-evenly {
  justify-content: space-evenly;
}
.lg-flex-content-flex-start {
  align-content: flex-start;
}
.lg-flex-content-center {
  align-content: center;
}
.lg-flex-content-flex-end {
  align-content: flex-end;
}
.lg-flex-content-space-between {
  align-content: space-between;
}
.lg-flex-content-space-around {
  align-content: space-around;
}
.lg-flex-content-space-evenly {
  align-content: space-evenly;
}
.lg-flex-content-stretch {
  align-content: stretch;
}
.lg-flex-self-flex-start {
  align-self: flex-start;
}
.lg-flex-self-center {
  align-self: center;
}
.lg-flex-self-flex-end {
  align-self: flex-end;
}
.lg-flex-self-baseline {
  align-self: baseline;
}
.lg-flex-self-stretch {
  align-self: stretch;
}
.lg-flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.lg-flex-flow-row-wrap {
  flex-flow: row wrap;
}
.lg-flex-flow-row-nowrap {
  flex-flow: row nowrap;
}
.lg-flex-flow-column-wrap {
  flex-flow: column wrap;
}
.lg-flex-flow-column-nowrap {
  flex-flow: column nowrap;
}

.letra {
  font-size: large;
}
